.main-icon {
  width: 35px;
  height: 35px;
  background-image: url("@/assets/tourface.jpeg");
}

.contact-us {
  width: 60px;
  height: 60px;
  background-image: url("@/assets/icon--contactus.png");
}

.img-flag {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  &.us {
    background-image: url("@/assets/us.svg");
  }
  &.eu {
    background-image: url("@/assets/eu.svg");
  }
  &.jp {
    background-image: url("@/assets/jp.svg");
  }
  &.cn {
    background-image: url("@/assets/cn.svg");
  }
}